# --- 공통 시스템 파일 ---
__pycache__/
*.pyc
*.db
.DS_Store
*.log
*.tmp
*.swp

# --- 개발 환경 설정 파일 ---
.env
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Node/React 프로젝트 ---
node_modules/
build/
dist/
dist-ssr/
*.local
yarn.lock
package-lock.json
pnpm-debug.log*
lerna-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- 테스트 및 커버리지 ---
coverage/

# --- 선택적으로 추가 가능 ---
# !.vscode/extensions.json
# logs/

# --- 포트번호 관련 ---
newcollection.py
newdataupload.py
